>>> h1
  font-size: 2rem;
  font-weight: bold;
>>> h2
  font-size: 1.7rem;
>>> h3
  font-size: 1.5rem;
>>> h4
  font-size: 1.3rem;
>>> h5
  font-size: 1.1rem;
>>> img
  max-width: 100%;
  heigth:  auto;

.blog
  margin: auto;
  padding: 2rem;
  max-width: 820px;
  word-break: break-all;
  word-wrap: break-word;
  padding: 1rem;
