>>> h1
  font-size: 2rem;
  font-weight: bold;
>>> h2
  font-size: 1.7rem;
>>> h3
  font-size: 1.5rem;
>>> h4
  font-size: 1.3rem;
>>> h5
  font-size: 1.1rem;
>>> img
  max-width: 100%;
  width: auto;

.blog
  max-width: 50rem;
  margin: auto;
  background: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

.blogsummary
  height: 5rem;
  overflow: hidden;
  color: #666666;

>>> .blogsummary img
  height: 0;
  width: 0;

>>> .pull-left
  float: left;
  padding-right: 1rem;
  max-width: 50%;

>>> .pull-right
  float: right;
  padding-left: 1rem;
  max-width: 50%;

>>> .text-justify
  text-align: justify

>>> hr
  clear: both;
  margin: 20px auto;
